<a href="https://colab.research.google.com/github/suryaadi45/Submision/blob/main/notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Proyek Analisis Data: E-Commerce Public Dataset
- **Nama:** Surya Adi Purwanto
- **Email:** adisurya271@gmail.com
- **ID Dicoding:** surya4545

## Menentukan Pertanyaan Bisnis

- Dari daerah mana saja pembeli terbanyak?
- Produk apa yang paling banyak terjual?
- Penjual mana yang paling banyak menjual barangnya?
- Pembayaran terbanyak dengan menggunakan metode apa?

## Import Semua Packages/Library yang Digunakan

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Data Wrangling

### Gathering Data

In [2]:
customers_df = pd.read_csv("https://raw.githubusercontent.com/suryaadi45/Submision/refs/heads/main/Data/customers_dataset.csv")
customers_df.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [3]:
orders_items_df = pd.read_csv("https://raw.githubusercontent.com/suryaadi45/Submision/refs/heads/main/Data/order_items_dataset.csv")
orders_items_df.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

In [4]:
order_payments_df = pd.read_csv("https://raw.githubusercontent.com/suryaadi45/Submision/refs/heads/main/Data/order_payments_dataset.csv")
order_payments_df.head()

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

**Insight:**
- Pengambilan data Costumers
- Pengambilan data Order Items
- Pengambilan data Order Payments

### Assessing Data

In [5]:
customers_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

In [6]:
print("Jumlah duplikasi: ", customers_df.duplicated().sum())
customers_df.isna().sum()

Jumlah duplikasi:  0

customer_id                 0
customer_unique_id          0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64

In [7]:
orders_items_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB

In [8]:
orders_items_df.isna().sum()

order_id               0
order_item_id          0
product_id             0
seller_id              0
shipping_limit_date    0
price                  0
freight_value          0
dtype: int64

In [9]:
print("Jumlah duplikasi: ", orders_items_df.duplicated().sum())
orders_items_df.describe()

Jumlah duplikasi:  0

       order_item_id          price  freight_value
count  112650.000000  112650.000000  112650.000000
mean        1.197834     120.653739      19.990320
std         0.705124     183.633928      15.806405
min         1.000000       0.850000       0.000000
25%         1.000000      39.900000      13.080000
50%         1.000000      74.990000      16.260000
75%         1.000000     134.900000      21.150000
max        21.000000    6735.000000     409.680000

In [10]:
order_payments_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 5 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_id              103886 non-null  object
 1   payment_sequential    103886 non-null  int64
 2   payment_type          103886 non-null  object
 3   payment_installments  103886 non-null  int64
 4   payment_value         103886 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ MB

In [11]:
order_payments_df.isna().sum()

order_id                0
payment_sequential      0
payment_type            0
payment_installments    0
payment_value           0
dtype: int64

In [12]:
print("Jumlah duplikasi: ", order_payments_df.duplicated().sum())
order_payments_df.describe()

Jumlah duplikasi:  0

       payment_sequential  payment_installments  payment_value
count       103886.000000         103886.000000  103886.000000
mean             1.092679              2.853349     154.100380
std              0.706584              2.687051     217.494064
min              1.000000              0.000000       0.000000
25%              1.000000              1.000000      56.790000
50%              1.000000              1.000000     100.000000
75%              1.000000              4.000000     171.837500
max             29.000000             24.000000   13664.080000

**Insight:**
- Data costumers tidak ada keanehan
- Data orders_items terdapat nilai maksimal yang lebih tinggi dibanding lainnya di price
- Data orders_payments terdapat nilai maksimal yang lebih tinggi dibanding lainnya di payment value

### Cleaning Data

In [13]:
orders_items_df[orders_items_df.price == orders_items_df.price.max()]

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
3556,0812eb902a67711a1cb742b3cdaa65ae,1,489ae2aa008f021502940f251d4cce7f,e3b4998c7a498169dc7bce44e6bb6277,2017-02-16 20:37:36,6735.0,194.31

In [14]:
orders_items_df.groupby(by="price").agg({
    "order_item_id": "nunique",
    "price": ["max", "min", "mean", "std"]
})

        order_item_id    price
              nunique      max      min     mean  std
price
0.85                2     0.85     0.85     0.85  0.0
1.20               20     1.20     1.20     1.20  0.0
2.20                1     2.20     2.20     2.20  NaN
2.29                1     2.29     2.29     2.29  NaN
2.90                1     2.90     2.90     2.90  NaN
...               ...      ...      ...      ...  ...
4690.00             1  4690.00  4690.00  4690.00  NaN
4799.00             1  4799.00  4799.00  4799.00  NaN
6499.00             1  6499.00  6499.00  6499.00  NaN
6729.00             1  6729.00  6729.00  6729.00  NaN
6735.00             1  6735.00  6735.00  6735.00  NaN

[5968 rows x 5 columns]

In [15]:
order_payments_df[order_payments_df.payment_value == order_payments_df.payment_value.max()]

,order_id,payment_sequential,payment_type,payment_installments,payment_value
52107,03caa2c082116e1d31e67e9ae3700499,1,credit_card,1,13664.08

In [16]:
order_payments_df.groupby(by="payment_value").agg({
    "order_id": "nunique",
    "payment_value": ["max", "min", "mean", "std"]
})

              order_id payment_value
               nunique           max       min      mean  std
payment_value
0.00                 8          0.00      0.00      0.00  0.0
0.01                 6          0.01      0.01      0.01  0.0
0.03                 2          0.03      0.03      0.03  0.0
0.05                 2          0.05      0.05      0.05  0.0
0.07                 1          0.07      0.07      0.07  NaN
...                ...           ...       ...       ...  ...
6726.66              1       6726.66   6726.66   6726.66  NaN
6922.21              1       6922.21   6922.21   6922.21  NaN
6929.31              1       6929.31   6929.31   6929.31  NaN
7274.88              1       7274.88   7274.88   7274.88  NaN
13664.08             1      13664.08  13664.08  13664.08  NaN

[29077 rows x 5 columns]

**Insight:**
- Pengecekan dan Perapian Data Orders Items
- Pengecekan dan Perapian Data Orders Payments

## Exploratory Data Analysis (EDA)

### Explore ...

In [17]:
customers_df.describe(include="all")

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
count,99441,99441,99441.000000,99441,99441
unique,99441,96096,NaN,4119,27
top,06b8999e2fba1a1fbc88172c00ba8bc7,8d50f5eadf50201ccdcedfb9e2ac8455,NaN,sao paulo,SP
freq,1,17,NaN,15540,41746
mean,NaN,NaN,35137.474583,NaN,NaN
std,NaN,NaN,29797.938996,NaN,NaN
min,NaN,NaN,1003.000000,NaN,NaN
25%,NaN,NaN,11347.000000,NaN,NaN
50%,NaN,NaN,24416.000000,NaN,NaN
75%,NaN,NaN,58900.000000,NaN,NaN
max,NaN,NaN,99990.000000,NaN,NaN

In [18]:
customers_df.sample(5)

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
64442,9da570dd0f573074ad3458b7ba281a62,b24333c20b1082ee734cd5c25c2991b4,37704,pocos de caldas,MG
1669,c9cb47939ff0e1027568ba6d7130e700,2d915b9db634ef772a177e5aa1075c3f,22775,rio de janeiro,RJ
58469,653d1bb20bc75577254028ece6cdf1ef,de1fc2bc7c7a4ba4d87b67dbeebd6610,74810,goiania,GO
46485,e4b7a517c164b0a527e81f5c25f9c902,25fd9d8e0233e89fb0e78895cef2aa2f,97060,santa maria,RS
69869,11e53b58a98a3808507765f001e0b972,b03e447d5432fe52a0efaaf6942178d7,13073,campinas,SP

In [19]:
customers_df.groupby(by="customer_state").customer_id.nunique().sort_values(ascending=False)

customer_state
SP    41746
RJ    12852
MG    11635
RS     5466
PR     5045
SC     3637
BA     3380
DF     2140
ES     2033
GO     2020
PE     1652
CE     1336
PA      975
MT      907
MA      747
MS      715
PB      536
PI      495
RN      485
AL      413
SE      350
TO      280
RO      253
AM      148
AC       81
AP       68
RR       46
Name: customer_id, dtype: int64

In [20]:
customers_df.groupby(by="customer_city").customer_id.nunique().sort_values(ascending=False)

customer_city
sao paulo         15540
rio de janeiro     6882
belo horizonte     2773
brasilia           2131
curitiba           1521
                  ...
ibiara                1
rio espera            1
rio dos indios        1
rio dos cedros        1
lagoao                1
Name: customer_id, Length: 4119, dtype: int64

In [21]:
orders_items_df.describe(include="all")

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
count,112650,112650.000000,112650,112650,112650,112650.000000,112650.000000
unique,98666,NaN,32951,3095,93318,NaN,NaN
top,8272b63d03f5f79c56e9e4120aec44ef,NaN,aca2eb7d00ea1a7b8ebd4e68314663af,6560211a19b47992c3666cc44a7e94c0,2017-07-21 18:25:23,NaN,NaN
freq,21,NaN,527,2033,21,NaN,NaN
mean,NaN,1.197834,NaN,NaN,NaN,120.653739,19.990320
std,NaN,0.705124,NaN,NaN,NaN,183.633928,15.806405
min,NaN,1.000000,NaN,NaN,NaN,0.850000,0.000000
25%,NaN,1.000000,NaN,NaN,NaN,39.900000,13.080000
50%,NaN,1.000000,NaN,NaN,NaN,74.990000,16.260000
75%,NaN,1.000000,NaN,NaN,NaN,134.900000,21.150000
max,NaN,21.000000,NaN,NaN,NaN,6735.000000,409.680000

In [22]:
orders_items_df.sample(5)

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
13239,1e0b82a0da7f09ea9ba1b82dfaf4fa23,1,caaa713799b547352795c831a14f1c3c,53243585a1d6dc2643021fd1853d8905,2018-04-26 06:11:08,849.99,26.99
12396,1c1e0f9cc23b897d0dafed078015e273,1,b8b7f10b147bfcbdc69c03701866ef4e,55d3daac7c404d59e51c2aa2f4dc5a23,2018-04-05 18:50:26,68.90,16.45
40623,5c8016724722d7906a7e8cfa22d7727d,1,54f8f27ac6543c074ae5c4e7759b054a,e067ad2c1c0b48758eb1b5228bcf7a68,2018-08-13 03:45:10,42.00,7.55
89780,cbec453ddd874ca620b8afc6393e3218,1,283dc451ad3918badb976d56ff887289,da8622b14eb17ae2831f4ac5b9dab84a,2017-06-08 10:22:32,89.90,13.65
2597,05d3e8073cc594f353b950b312fc207c,1,344e500a6d4d2085337b9e81c0b9c9de,15aac934c58d886785ac1b17953ea898,2017-12-06 20:50:36,235.00,16.40

In [23]:
orders_items_df.groupby(by="product_id").order_item_id.nunique().sort_values(ascending=False)

product_id
9571759451b1d780ee7c15012ea109d4    20
ee3d532c8a438679776d222e997606b3    20
89b190a046022486c635022524a974a8    15
37eb69aca8718e843d897aa7b82f462d    15
422879e10f46682990de24d770e7f83d    14
                                    ..
5c9f86c0e642b62c2100fd8d26f38771     1
5c9ef6c35fdbad9275157b1929c37fb0     1
5c9d92777b62444d9fbffe92338d9e21     1
5c9d7078a9ba9cfd2f39725146e15678     1
fffe9eeff12fcbd74a2f2b007dde0c58     1
Name: order_item_id, Length: 32951, dtype: int64

In [24]:
orders_items_df.groupby(by="seller_id").order_item_id.nunique().sort_values(ascending=False)

seller_id
2709af9587499e95e803a6498a5a56e9    21
8e6d7754bc7e0f22c96d255ebda59eba    20
ce27a3cc3c8cc1ea79d11e561e9bebb6    20
0b36063d5818f81ccb94b54adfaebbf5    15
f326006815956455b2859abd58fe7e39    15
                                    ..
702835e4b785b67a084280efca355756     1
70126eecc6aa1274392a1743866e9678     1
700f03c207639c22d933381ff60b35c2     1
6fa9202c10491e472dffd59a3e82b2a3     1
ffff564a4f9085cd26170f4732393726     1
Name: order_item_id, Length: 3095, dtype: int64

In [25]:
order_payments_df.describe(include="all")

,order_id,payment_sequential,payment_type,payment_installments,payment_value
count,103886,103886.000000,103886,103886.000000,103886.000000
unique,99440,NaN,5,NaN,NaN
top,fa65dad1b0e818e3ccc5cb0e39231352,NaN,credit_card,NaN,NaN
freq,29,NaN,76795,NaN,NaN
mean,NaN,1.092679,NaN,2.853349,154.100380
std,NaN,0.706584,NaN,2.687051,217.494064
min,NaN,1.000000,NaN,0.000000,0.000000
25%,NaN,1.000000,NaN,1.000000,56.790000
50%,NaN,1.000000,NaN,1.000000,100.000000
75%,NaN,1.000000,NaN,4.000000,171.837500
max,NaN,29.000000,NaN,24.000000,13664.080000

In [26]:
order_payments_df.sample(5)

,order_id,payment_sequential,payment_type,payment_installments,payment_value
103493,18eadded4d37d643ad53765a205ad45b,1,credit_card,1,46.72
94656,15ec221740e9cec424172caef8dbeeab,1,credit_card,9,464.58
59528,a5f52ebb3569cc7357f500d755314c0d,1,boleto,1,52.34
14049,a4003dc7a43aebf4aa6543e230de8de4,1,credit_card,2,132.72
15039,0a1ad2c293c3baacc6b2c2d442c71acd,1,credit_card,4,44.42

In [28]:
order_payments_df.groupby(by="payment_type").order_id.nunique().sort_values(ascending=False)

payment_type
credit_card    76505
boleto         19784
voucher         3866
debit_card      1528
not_defined        3
Name: order_id, dtype: int64

**Insight:**
- Mendapatkan 5 costumer state dan costumer city terbanyak
- Mendapatkan produk yang terlaris dan penjual yang paling banyak pembeli
- Mendapatkan metode pembayaran terbanyak

## Visualization & Explanatory Analysis

### Pertanyaan 1:

### Pertanyaan 2:

**Insight:**
- xxx
- xxx

## Analisis Lanjutan (Opsional)

## Conclusion

- Conclution pertanyaan 1
- Conclution pertanyaan 2